name: Java CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'
        cache: maven

    - name: Build, test, quality checks
      run: mvn -B -U clean verify
      
    - name: Build, test, quality checks
      run: mvn -B -U clean verify -Djava.awt.headless=true

    - name: Upload reports
      uses: actions/upload-artifact@v4
      with:
        name: reports
        path: target/site/
